.title_cont {
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
}

.name_cont {
    font-size: 20px;
    font-weight: bold;
}

.tel_cont {
    font-size: 20px;
}

.container_contact {
    display: flex;
    justify-content: space-around;
}

.bg_cont {
    background: linear-gradient(to right, #1D71BD 50%, rgb(255, 255, 255) 50%);
    padding: 2em 0;
}

.block_contact {
    margin-bottom: 2em;
}

.left {
    color: #FFFFFF;
    width: 46%;
}

.left a {
    color: #FFFFFF;
}

.right a {
    color: #000000;
}

.right a:hover {
    color: #000000;
    text-decoration: underline;
}

.left a:hover {
    text-decoration: underline;
}

.name_cont {
    margin-right: 2em;
}

.h1 {
    background: linear-gradient(to right, rgb(255, 255, 255) 50%, #1D71BD 50%);
    margin: 0 auto 1em auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
}


/* Подвал */

.title_footer {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
}

footer {
    position: absolute;
    background-color: #1E71BF;
    position: relative;
}

.content_footer {
    position: relative;
    padding-top: 3em;
    padding-bottom: 3em;
    list-style-type: none;
}

.container_text_footer {
    margin-top: 1em;
}

.text_footer {
    margin-top: 5px;
    list-style-type: none;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    color: #FFFFFF;
}

.content_footer {
    display: flex;
    justify-content: space-around;
}

.contact {
    margin-top: 1em;
}

.stolbec_logo {
    margin: auto;
}

.stolbec {
    margin-right: 4em;
}

.logo_footer {
    width: 395px;
    height: 69px;
}

.title_soc_footer {
    text-align: right;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-transform: capitalize;
    position: absolute;
    left: 82.4%;
    top: 80%;
    color: #FFFFFF;
}

.container_soc_footer {
    display: flex;
    margin-top: 7em;
}

.icon_soc_footer img {
    width: 60px;
    margin-right: 2em;
    margin-left: 2em;
}

.logo_footer {
    margin-top: 5em;
}

.block_form {
    position: relative;
    display: flex;
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* z-index: 2; */
    text-align: center;
}

.left_form {
    margin-bottom: 0.2em;
    z-index: 2;
}

.bg_form {
    width: 100%;
    position: relative;
}

.bg_color {
    position: absolute;
    background-color: #9bbeff;
    width: 540px;
    height: 89%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    margin: auto;
    border-radius: 18px;
    z-index: 1;
}

.left_form input {
    padding: 1em;
    font-size: 110%;
}


/* .right_form{
    display: flex;
    z-index: 2;
} */

textarea {
    font-size: 110%;
    width: 451px;
    resize: none;
    border: none;
    outline: none;
    background-color: #bed5ff;
    padding: 1em 1em;
}

input {
    outline: none;
    border: none;
    background-color: #bed5ff;
}


/* input[type=email]{
    margin-top: 5px;
    margin-bottom: 5px;
}
input[type=tel]{
    margin-top: 5px;
} */

input[type=submit] {
    background-color: #bed5ff;
}


/* input[type=org]{
    margin-top: 5px;
} */

.dark {
    background: linear-gradient(to right, rgb(10, 25, 43) 50%, rgb(10, 25, 43) 100%);
}

.dark_text {
    color: #B4CEEE;
    -webkit-text-fill-color: #B4CEEE;
}

.dark_block {
    background-color: #15355C;
}

.light {
    transition: 1s;
}

.light_text {
    transition: 1s;
}

.light_block {
    transition: 1s;
}

.light_SO {
    transition: 1s;
}

.light_block {
    transition: 1s;
}