/* Новости */

a {
    text-decoration: none;
}

.block_news {
    display: inline-block;
    background-color: #1D71BD;
    width: 30%;
    border-radius: 28px;
    color: white;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    vertical-align: bottom;
}

.container_news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1.766em;
}

.block_pic_news {
    width: auto;
    text-align: center;
}

.block_text_news {
    margin-left: 5%;
    margin-top: 5%;
}

.pic {
    margin-top: 4.2%;
    height: 300px;
    width: 92%;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    object-fit: cover;
    overflow: hidden;
}

.title_news {
    color: #fafafa;
    font-size: 2.5em;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    word-break: break-all;
    padding-right: 0.7em;
}

.date {
    color: #b7c0ce;
    font-size: 1.25em;
    margin-top: 1em;
    margin-bottom: 1.2em;
}

.wstext_news {
    text-overflow: ellipsis;
    font-size: 2em;
    white-space: nowrap;
    overflow: hidden;
    word-break: break-all;
    padding-right: 0.7em;
    color: #fafafa;
}

.zagol {
    color: #1D71BD;
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: bold;
}

.zag {
    margin: 2.688em 0;
}

.map {
    text-align: center;
    margin-bottom: 5em;
}


/* АО */

.ao_bg_color {
    background-color: #e8f1ff;
}

.AO_Container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.688em;
}

.text_ao {
    margin-left: 1.5em;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: justify;
    color: #1E71BF;
    margin-top: auto;
    margin-bottom: auto;
}

.pic_ao img {
    width: 40.773em;
    height: 22.922em;
}

.text_RPord {
    position: absolute;
    top: 100%;
    margin-top: 1em;
    font-size: 1.5em;
    font-weight: 500;
}


/* Назначеине пвида Продукции */

.container_prod {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.block_prod img {
    width: 138px;
    height: 138px;
}

.text_prod {
    font-size: 1.9em;
    text-transform: uppercase;
    margin-top: 1em;
    color: #1D71BD;
}

.container_prod_dop {
    margin-bottom: 4em;
}

.block_prod {
    margin: auto;
    width: 25%;
}

.main_container_prod {
    margin-bottom: 2.688em;
}


/* Парнеры */

.partner_logo img {
    width: 70%;
}


/* Подвал */

footer {
    background-color: #1E71BF;
    position: relative;
}

.content_footer {
    position: relative;
    padding-top: 3em;
    padding-bottom: 3em;
    list-style-type: none;
}

.container_text_footer {
    margin-top: 1em;
}

.contact {
    margin-top: 1em;
}

.stolbec_logo {
    margin: auto;
}

.logo_footer {
    width: 395px;
    height: 69px;
}

.title_soc_footer {
    text-align: right;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-transform: capitalize;
    position: absolute;
    left: 82.4%;
    top: 80%;
    color: #fafafa;
}

.container_soc_footer {
    display: flex;
    margin-top: 7em;
}

.icon_soc_footer img {
    width: 60px;
    margin-right: 2em;
    margin-left: 2em;
}

.swiper2 {
    width: 100%;
    overflow: hidden;
    margin-bottom: 2.688em;
}

.swiper1 {
    width: 100%;
    padding-bottom: 6%;
    overflow: hidden;
}

.logo_footer {
    margin-top: 5em;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 95%;
    margin: auto;
}