@media screen and (max-width: 1440px) {
    .title_news {
        font-weight: bold;
        color: #1D71BD;
        font-size: 2em;
        text-transform: uppercase;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-right: 0.7em;
    }
    .date_news {
        font-size: 16px;
        font-style: italic;
        margin-bottom: -0.4em;
    }
    .text_news {
        font-weight: 500;
        font-size: 22px;
        line-height: 23px;
        text-align: justify;
        color: #1D71BD;
        margin-top: 1.366em;
        margin-bottom: 1em;
        padding-right: 0.7em;
        margin-right: 1.366em;
    }
    .main_title_actyal_news {
        font-size: 18px;
        color: #ffffff;
        margin: auto;
        line-height: 0.9;
        margin-top: 1.366em;
        margin-bottom: 0.5em;
    }
    .title_actyal_news {
        font-size: 13px;
    }
    .date_actyal_news {
        font-size: 9px;
        font-style: italic;
        margin-top: -0.1em;
    }
}

@media screen and (max-width: 1024px) {
    .title_news {
        font-weight: bold;
        color: #1D71BD;
        font-size: 2em;
        text-transform: uppercase;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-right: 0.7em;
    }
    .date_news {
        font-size: 16px;
        font-style: italic;
        margin-bottom: -0.4em;
    }
    .text_news {
        font-weight: 500;
        font-size: 22px;
        line-height: 23px;
        text-align: justify;
        color: #1D71BD;
        margin-top: 1.366em;
        margin-bottom: 1em;
        padding-right: 0.7em;
        margin-right: 1.366em;
    }
    .main_title_actyal_news {
        font-size: 18px;
        color: #ffffff;
        margin: auto;
        line-height: 0.9;
        margin-top: 1.366em;
        margin-bottom: 0.5em;
    }
    .title_actyal_news {
        font-size: 13px;
    }
    .date_actyal_news {
        font-size: 9px;
        font-style: italic;
        margin-top: -0.1em;
    }
}

@media screen and (max-width: 768px) {
    .title_news {
        font-weight: bold;
        color: #1D71BD;
        font-size: 1.4em;
        text-transform: uppercase;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-right: 0.7em;
    }
    .date_news {
        font-size: 16px;
        font-style: italic;
        margin-bottom: -0.4em;
    }
    .text_news {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-align: justify;
        color: #1D71BD;
        margin-top: 1.366em;
        margin-bottom: 1em;
        padding-right: 0.7em;
        margin-right: 1.366em;
    }
    .main_title_actyal_news {
        font-size: 15px;
        color: #ffffff;
        margin: auto;
        line-height: 0.9;
        margin-top: 1.366em;
        margin-bottom: 0.5em;
    }
    .title_actyal_news {
        font-size: 9px;
    }
    .date_actyal_news {
        font-size: 6px;
        font-style: italic;
        margin-top: -0.1em;
    }
}

@media screen and (max-width: 520px) {
    .title_news {
        font-weight: bold;
        color: #1D71BD;
        font-size: 1em;
        text-transform: uppercase;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-right: 0.7em;
    }
    .date_news {
        font-size: 10px;
        font-style: italic;
        margin-bottom: -0.4em;
    }
    .text_news {
        font-weight: 500;
        font-size: 10px;
        line-height: 13px;
        text-align: justify;
        color: #1D71BD;
        margin-top: 1.366em;
        margin-bottom: 1em;
        padding-right: 0.7em;
        margin-right: 1.366em;
    }
    .main_title_actyal_news {
        font-size: 10px;
        color: #ffffff;
        margin: auto;
        line-height: 0.9;
        margin-top: 1.366em;
        margin-bottom: 0.5em;
    }
    .title_actyal_news {
        font-size: 8px;
    }
    .date_actyal_news {
        font-size: 6px;
        font-style: italic;
        margin-top: -0.1em;
    }
    .block_actyal_news {
        padding-right: 0em;
    }
    .actyal_news {
        padding-left: 0.5em;
        padding-right: 0.1em;
        width: 20%;
        background-color: #1D71BD;
    }
}

@media screen and (max-width: 425px) {
    .bread_point {
        float: right;
    }
}

@media screen and (max-width: 375px) {
    .actyal_news {
        display: none;
    }
    .text_news {
        font-weight: 500;
        font-size: 10px;
        line-height: 15px;
        text-align: justify;
        color: #1D71BD;
        margin-top: 1.366em;
        margin-bottom: 1em;
        padding-right: 0em;
        margin-right: 0em;
    }
    .two_rows_news {
        display: flex;
        justify-content: center;
    }
    .container {
        width: 100%;
        max-width: 100%;
        margin: auto;
        display: block;
    }
    .main_news {
        margin-left: 0em;
        width: 100%;
    }
    .bread_point {
        float: none;
        margin-left: 0%;
        margin-bottom: -1em;
    }
}