                            @media screen and (max-width: 2560px) {
                                .zagol {
                                    color: #1D71BD;
                                    text-align: center;
                                    font-size: 3em;
                                    text-transform: uppercase;
                                    font-weight: bold;
                                    margin-top: 1.366em;
                                    margin-bottom: 1.366em;
                                }
                            }
                            
                            @media screen and (max-width: 1920px) {
                                .zagol {
                                    color: #1D71BD;
                                    text-align: center;
                                    font-size: 2.6em;
                                    text-transform: uppercase;
                                    font-weight: bold;
                                    margin-top: 1.366em;
                                    margin-bottom: 1.366em;
                                }
                                .zagol_isk {
                                    margin-top: 3.366em;
                                }
                            }
                            
                            @media screen and (max-width: 1380px) {
                                .zagol {
                                    color: #1D71BD;
                                    text-align: center;
                                    font-size: 2.5em;
                                    text-transform: uppercase;
                                    font-weight: bold;
                                    margin-top: 1.366em;
                                    margin-bottom: 1.366em;
                                }
                                .zagol_isk {
                                    margin-top: 2.9em;
                                }
                            }
                            
                            @media screen and (max-width: 1245px) {
                                .zagol {
                                    color: #1D71BD;
                                    text-align: center;
                                    font-size: 2.5em;
                                    text-transform: uppercase;
                                    font-weight: bold;
                                    margin-top: 1.366em;
                                    margin-bottom: 1.366em;
                                }
                                .zagol_isk {
                                    margin-top: 2.9em;
                                }
                                .title_cont {
                                    font-size: 2em;
                                }
                                .name_cont {
                                    font-size: 1.8em;
                                }
                                .tel_cont a {
                                    font-size: 1.4em;
                                }
                            }
                            
                            @media screen and (max-width: 1024px) {
                                .zagol {
                                    color: #1D71BD;
                                    text-align: center;
                                    font-size: 2.5em;
                                    text-transform: uppercase;
                                    font-weight: bold;
                                    margin-top: 1.366em;
                                    margin-bottom: 1.366em;
                                }
                                .zagol_isk {
                                    margin-top: 2em;
                                }
                                .bread_point {
                                    font-size: 70%;
                                }
                                .title_cont {
                                    font-size: 2em;
                                }
                                .name_cont {
                                    font-size: 1.8em;
                                }
                                .tel_cont a {
                                    font-size: 1.4em;
                                }
                            }
                            
                            @media screen and (max-width: 768px) {
                                .zagol {
                                    color: #1D71BD;
                                    text-align: center;
                                    font-size: 1.9em;
                                    text-transform: uppercase;
                                    font-weight: bold;
                                    margin-top: 1.366em;
                                    margin-bottom: 1.366em;
                                }
                                .zagol_isk {
                                    margin-top: 3.366em;
                                }
                                .title_cont {
                                    font-size: 1.4em;
                                }
                                .name_cont {
                                    font-size: 1.2em;
                                }
                                .tel_cont a {
                                    font-size: 0.8em;
                                }
                            }
                            
                            @media screen and (max-width: 425px) {
                                .zagol {
                                    color: #1D71BD;
                                    text-align: center;
                                    font-size: 1.5em;
                                    text-transform: uppercase;
                                    font-weight: bold;
                                    margin-top: 1.366em;
                                    margin-bottom: 1.366em;
                                }
                                .bread_point {
                                    font-size: 50%;
                                }
                                .title_cont {
                                    font-size: 1.1em;
                                }
                                .name_cont {
                                    font-size: 0.9em;
                                }
                                .tel_cont a {
                                    font-size: 0.7em;
                                }
                            }
                            
                            @media screen and (max-width: 375px) {
                                .zagol {
                                    color: #1D71BD;
                                    text-align: center;
                                    font-size: 1.5em;
                                    text-transform: uppercase;
                                    font-weight: bold;
                                    margin-top: 1.366em;
                                    margin-bottom: 1.366em;
                                }
                                .title_cont {
                                    font-size: 1em;
                                }
                                .name_cont {
                                    font-size: 0.8em;
                                }
                            }
                            
                            @media screen and (max-width: 320px) {
                                .zagol {
                                    color: #1D71BD;
                                    text-align: center;
                                    font-size: 1em;
                                    text-transform: uppercase;
                                    font-weight: bold;
                                    margin-top: 1.366em;
                                    margin-bottom: 1.366em;
                                }
                                .zagol_isk {
                                    margin-top: 2.566em;
                                }
                                .title_cont {
                                    font-size: 0.5em;
                                }
                                .name_cont {
                                    font-size: 0.3em;
                                }
                            }
                            
                            .black {
                                color: rgb(255, 255, 255);
                            }